@import url(./fonts.css);


::-webkit-scrollbar {
    width: 0.6vw;
   }
     
   ::-webkit-scrollbar-track {
    background-color: transparent;
      border-radius: 10px;
   }
     
   ::-webkit-scrollbar-thumb {
     background-color: #FB9333;
     border-radius: 10px;
   }
     
   ::-webkit-scrollbar-thumb:hover {
     background-color: rgb(247, 191, 140);
   }


body , html {
    width: 100%;
    height: 100%;
    font-family: poppinR;
    user-select: none;
}

header{
    margin-top: 30px;
    padding: 0px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    
    text-align: center;
    align-items: center;
}

.nav__item {
    display: flex;
    gap: 70px;
}

.nav__link {
    cursor: pointer;
}

.nav__logo {
    font-size: 24px;
    font-family: poppinB;
}

#btnheader{
    padding: 12px 30px;
    background: #FB9333;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: all 500ms;
}

#btnheader:hover {
    transition: all 500ms;
    padding: 12px 40px;
}

.header__main{
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

.header__title-rank {
    background-color:rgba(255, 240, 220, 1);
    color: rgba(251, 147, 51, 1);
    padding: 16px;
    border-radius: 100px;
    display: inline-block;
    transition: all 500ms;
}

.header__title-rank:hover {
    background-color: rgba(251, 147, 51, 1);
    color: rgba(255, 240, 220, 1);
    transition: all 500ms;
}

.header__title_asli {
    margin-top: 30px;
}

.header__title_asli h1 {
    font-size: 72px;
    font-family: poppinB;
}

.header__title_asli p {
    margin-top: 30px;
    color: rgba(130, 130, 130, 1) ;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;

}

#header__span {
    color: #FB9333;
}

.btn__title {
    display: inline-block;
    padding: 12px 30px;
    background: #FB9333;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    padding: 25px 45px;
    transition: all 500ms;
}

.btn__title:hover {
    transition: all 500ms;
    transform: scale(1.1) ;
}

.header__numbers {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    font-family: poppinM;
}

.header__numbers > div {
    transition: all 500ms;
}

.header__numbers > div:hover {
    transform: scale(1.5);
    transition: all 500ms;
    color: #FB9333;
}

main {
    margin-top: 100px;
    padding: 0px 135px;
}

.why__cart {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.why__title{
    display: flex;
    gap: 75px;
    text-align: center;
    align-items: center;
}
.why__main-title h2 {
    font-size: 48px;
    font-family: poppinB;
}

.why__sub-title {
    color: rgba(130, 130, 130, 1);
    font-size: 20px;
}

#title__main-span {
    color: #FB9333;
}

.cart {
    padding: 30px;
    border: 1px solid #FFF0DA;
    border-radius: 40px;
    display: inline-flex;
    flex-direction: column;
    width: 363.33px;
}

.cen {
    box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
}

.dis__learnmore img {
    display: inline-block;
    width: 24px;
}

.dis__title {
    margin-top: 70px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.dis__title h3 {
    font-size: 24px ;
    font-family: poppinB;
}

.dis__title p {
    font-size: 16px;
    line-height: 180%;
    color: rgba(130, 130, 130, 1);
}

.dis__learnmore {
    display: flex;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.dis__learnmore:hover {
    transition: all 500ms;
    gap: 20px;
}

.menu__continer {
    margin-top: 150px;
}

.menu__title {
    text-align: center;
    padding: 0px 219px;
}

.menu__sub-title p {
    font-size: 20px;
    color: #FB9333;
}

.menu__main-title h3 {
    font-size: 48px;
    margin-top: 15px;
}


.menu__item {
    margin-top: 70px;
    display: flex;
    gap: 50px;
}


.item__dieat {
    position: relative;
    width: 363.33px;
    height: 520px;
}


.dieat__title {
    position: absolute;
    z-index: 5;
    bottom: 50px;
    left: 65px;
    color: white;
}

.one {
    background-image: url(../images/main/eat1.png);
}

.two {
    background-image: url(../images/main/eat2.png);
}

.three {
    background-image: url(../images/main/eat3.png);
}

.dieat__title p {
    font-size: 24px;
}

.dieat__title h5 {
    font-family: poppinB;
    font-size: 30px;
    margin-top: 10px;
    color: #FB9333;
}

.subscribe {
    margin-top: 150px;
    margin-bottom: 150px;   
}

.subscribe__continer {
    background-color: #FFF1DE;
    padding: 20px;
    border-radius: 50px;
    margin: 0px 100px;
    background-image: url(../images/main/Group.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.subscribe__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 150px;
}

.subscribe__title h2 {
    font-family: poppinB;
    font-size: 48px;
    color: rgba(88, 88, 88, 1);
}

#ptitles {
    margin-top: 24px;
    font-size: 16px;
    color: rgba(87, 87, 87, 1);
}

.subscribe__newspaper {
    margin: 50px 150px;
    background-color: white;
    border-radius: 35px;
    padding: 15px;
    display: flex;
    gap:5px;
}

.subscribe__newspaper input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.subscribe__newspaper button {
    background-color: #FB9333;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 0px 24px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 134px;
    gap: 150px;
}

.informetion , .feature , .touch , .media {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.location , .email , .call {
    display: flex;
    gap:5px;
}

#logo {
    font-family: poppinB;
    font-size: 24px;
}

#god {
    font-size: 24px;
    font-family: poppinB;
}